body {

	height:100vh;
	width:100vw;
	margin:0;
	background-color:#D3CAC8;

}

.container-fluid {

	height:100vh;
	width:100vw;
	margin:0;
}

 
@media screen and (max-width:1199px) and (min-width:992px) {
	
	.container-fluid {

	height:100vh;
	width:100vw;
	margin:0;
	padding:0;
	}

	.body_P2 {

		background-image: url("mapsite.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		height:1019px;
		margin: 0px 20px 0px 10px;

				
	}

	.rowsize1 {

		height:400px;
		margin:0;
		padding:0;
		
	
	}

	.BO {

		height:400px;
		
	}

	.paddingS1 {

		padding: 260px 0px 80px 150px;

	}

	.paddingS2 {

		padding: 100px 0px 230px 140px;
	}

	.borderrad {

		border-radius: 50%;
		
	}

	.glyph {

		color:red;
	}

	.modal-dialog {

		margin:0;
		width:450px;
	}

	.info {

		font-size:1.15em;
	}

	.bold {

		font-weight: bold;
		font-size: 1.25em;
	}

	.meteo {

		margin: auto;


	}
}

/*<span class="glyphicon glyphicon-map-marker glyph"></span>

<h3 class="modal-title"><strong>Pignon de Pin</strong></h3>
                </div>
                  <div class="modal-body">
                    <p class="info"><span class="bold">Meilleures Périodes:</span><br>Mars/Avril/Juin/Septembre<br><span class="bold">Orientation: </span>S-SO<br><span class="bold">Rocher: </span>calcaire<br><span class="bold">Nb de voies: </span>16<br><span class="bold">Hauteur: </span>jusqu'à 50m<br><span class="bold">Difficulté: </span>du 5c à 7c<br><span class="bold">Localisation: </span>Ici et là</p>
                    <img src="abricotier_reeq.JPG" alt="voies" width="290px"/>



                     <h3 class="modal-title"><strong>Pignon de Vélo</strong></h3>
                  </div>
                  <div class="modal-body">
                    <p class="info"><span class="bold">Meilleures Périodes:</span><br>Avril/Mai/Juin/Septembre<br><span class="bold">Orientation: </span>N-NO<br><span class="bold">Rocher: </span>calcaire<br><span class="bold">Nb de voies: </span>42<br><span class="bold">Hauteur: </span>jusqu'à 75m<br><span class="bold">Difficulté: </span>du 5c à 7c<br><span class="bold">Localisation: </span>Ici et là</p>
                    <img src="parfumerie2.jpg" alt="voies" width="290px"/>

                    */