body {

	height:100vh;
	width:100vw;
	margin:0;
	background-color:#D3CAC8;

}

.container-fluid {

	height:100vh;
	width:100vw;
	margin:0;
}

	.header {

	background-image: url("../img/img_header_climbing.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	width: 100vw;
	margin:0;
	}
 
@media screen and (max-width:1199px) and (min-width:992px) {
	
	.row1 {

	height:450px;
	width: 100vw;
	margin: 0px 0px 20px 0px;
}


	.titre {

	font-family: Blippo, fantasy;
	background-color: transparent;
	margin:0;
	letter-spacing: 3px;
	font-size: 600%;
	padding-top:260px;
}



	.container-fluid {

	height:100vh;
	width:100vw;
	margin:0;
	padding:0;
	}

	.body_P2 {

		background-image: url("../img/mapsite.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		height:1019px;
		margin: 0px ;

				
	}

	.rowsize1 {

		height:400px;
		margin:0;
		padding:0;
		
	
	}

	.BO {

		height:400px;
		
	}

	.paddingS1 {

		padding: 260px 0px 80px 150px;

	}

	.paddingS2 {

		padding: 100px 0px 230px 140px;
	}

	.borderrad {

		border-radius: 50%;
		
	}

	.glyph {

		color:red;
	}

	.modal-dialog {

		margin:0;
		width:450px;
	}

	.info {

		font-size:1.15em;
	}

	.bold {

		font-weight: bold;
		font-size: 1.25em;
	}

	.meteoO{

		height:200px;
	}

	.meteo {

		margin: auto;
		display:block;


	}


	footer {
    padding-top: 20px;
    border-top: 10px solid #332e20;
    background-color: white;
	}

	.footercont, .rowfooter {

		height:300px;
	}

	.bottom-rule {
	    border-bottom: 1px solid lightgray;
	}

	.footer-section {
	    margin-bottom: 20px;
	    padding-bottom: 20px;
	    border-bottom: 1px solid lightgray;
	}
	footer .list-inline li:not(:first-child):not(:last-child) {
	    border-right: 1px solid lightgray;
	}

	.navbar-footer {
	    margin-bottom: 0;
	    text-align: center;
	}

	footer .navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	    vertical-align: top;
	}
	/*=========================
	  Icons
	 ================= */

	/* footer social icons */
	ul.social-network {
	    list-style: none;
	    display: inline;
	    margin-left:0 !important;
	    padding: 0;
	}
	ul.social-network li {
	    display: inline;
	    margin: 0 5px;
	}


	/* footer social icons */
	.social-network a.icoRss:hover {
	    background-color: #F56505;
	}
	.social-network a.icoFacebook:hover {
	    background-color:#3B5998;
	}
	.social-network a.icoTwitter:hover {
	    background-color:#33ccff;
	}
	.social-network a.icoGoogle:hover {
	    background-color:#BD3518;
	}
	.social-network a.icoVimeo:hover {
	    background-color:#0590B8;
	}
	.social-network a.icoLinkedin:hover {
	    background-color:#007bb7;
	}
	.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
	.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	    color:#fff;
	}
	a.socialIcon:hover, .socialHoverClass {
	    color:#44BCDD;
	}

	.social-circle li a {
	    display:inline-block;
	    position:relative;
	    margin:0 auto 0 auto;
	    -moz-border-radius:50%;
	    -webkit-border-radius:50%;
	    border-radius:50%;
	    text-align:center;
	    width: 50px;
	    height: 50px;
	    font-size:20px;
	}
	.social-circle li i {
	    margin:0;
	    line-height:50px;
	    text-align: center;
	}

	.social-circle li a:hover i, .triggeredHover {
	    -moz-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    -ms--transform: rotate(360deg);
	    transform: rotate(360deg);
	    -webkit-transition: all 0.2s;
	    -moz-transition: all 0.2s;
	    -o-transition: all 0.2s;
	    -ms-transition: all 0.2s;
	    transition: all 0.2s;
	}
	.social-circle i {
	    color: #fff;
	    -webkit-transition: all 0.8s;
	    -moz-transition: all 0.8s;
	    -o-transition: all 0.8s;
	    -ms-transition: all 0.8s;
	    transition: all 0.8s;
	}

	a {
	 background-color: #D3D3D3;   
	}
	 @media (min-width: 768px) {
	    .footer-section {
	        margin-bottom: 0;
	        padding-bottom: 0;
	        border-bottom: none;
	     }
	 }
}

/*<span class="glyphicon glyphicon-map-marker glyph"></span>

<h3 class="modal-title"><strong>Pignon de Pin</strong></h3>
                </div>
                  <div class="modal-body">
                    <p class="info"><span class="bold">Meilleures Périodes:</span><br>Mars/Avril/Juin/Septembre<br><span class="bold">Orientation: </span>S-SO<br><span class="bold">Rocher: </span>calcaire<br><span class="bold">Nb de voies: </span>16<br><span class="bold">Hauteur: </span>jusqu'à 50m<br><span class="bold">Difficulté: </span>du 5c à 7c<br><span class="bold">Localisation: </span>Ici et là</p>
                    <img src="abricotier_reeq.JPG" alt="voies" width="290px"/>



                     <h3 class="modal-title"><strong>Pignon de Vélo</strong></h3>
                  </div>
                  <div class="modal-body">
                    <p class="info"><span class="bold">Meilleures Périodes:</span><br>Avril/Mai/Juin/Septembre<br><span class="bold">Orientation: </span>N-NO<br><span class="bold">Rocher: </span>calcaire<br><span class="bold">Nb de voies: </span>42<br><span class="bold">Hauteur: </span>jusqu'à 75m<br><span class="bold">Difficulté: </span>du 5c à 7c<br><span class="bold">Localisation: </span>Ici et là</p>
                    <img src="parfumerie2.jpg" alt="voies" width="290px"/>

                    */