


.row1 {

	height:450px;
	width: 100vw;
}
.header
{
background-image: url("../img/img_header_climbing.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	width: 100vw;
	margin:0;
	}





.titre {
	font-family: Blippo, fantasy;
	font-weight: bold;
	background-color: transparent;
	margin:0;
	letter-spacing: 3px;
	font-size: 600%;
	padding-top:260px;
}